<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%ex%n
			</pattern>
		</encoder>
	</appender>
	<appender name="HTML"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.html.HTMLLayout">
				<pattern>%d{HH:mm:ss.SSS}%thread%level%logger%msg%ex</pattern>
			</layout>
		</encoder>
		<file>${user.home}/YouPloader/logfile.html</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${user.home}/YouPloader/logfile-%i.html
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>3</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>1024KB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<root level="debug">
		<appender-ref ref="HTML"/>
		<appender-ref ref="STDOUT" />
	</root>
    <logger name="org.apache" level="DEBUG" />
    <logger name="httpclient.wire" level="DEBUG" />
</configuration>